<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180791018077-bchmcenc6dtliki9n6e0oochaml5di5h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180791018077-bchmcenc6dtliki9n6e0oochaml5di5h</string>
	<key>API_KEY</key>
	<string>AIzaSyAAedTsGLcpfW31vtzhiWF-LdTQsMaHoVE</string>
	<key>GCM_SENDER_ID</key>
	<string>180791018077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.realagent.building.management</string>
	<key>PROJECT_ID</key>
	<string>building-management-90a4c</string>
	<key>STORAGE_BUCKET</key>
	<string>building-management-90a4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180791018077:ios:93b694d62dd5b9efae43b4</string>
</dict>
</plist>